services:
  php-fpm-base:
    image: php-fpm-base-${ENV}-${PHP_VERSION}-${XDEBUG_VERSION}-${COMPOSER_VERSION}
    container_name: php-fpm-base-${ENV}-${PHP_VERSION}-${XDEBUG_VERSION}-${COMPOSER_VERSION}
    restart: unless-stopped
    build:
      context: ${ROOT_DIRECTORY}
      dockerfile: ${ROOT_DIRECTORY}/docker/php-fpm/${PHP_VERSION}/Dockerfile
      target: env-${ENV}
      args:
        PHP_VERSION: ${PHP_VERSION}
        XDEBUG_VERSION: ${XDEBUG_VERSION}
        COMPOSER_VERSION: ${COMPOSER_VERSION}
    profiles:
      - build_only
    networks:
      - network_app

  php-fpm:
    image: ${PROJECT_NAME}-php-fpm-${ENV}
    container_name: ${PROJECT_NAME}-${ENV}-php-fpm
    restart: unless-stopped
    build:
      context: ${DOCKERFILE_DIRECTORY}
      dockerfile: ${DOCKERFILE_DIRECTORY}/Dockerfile
      target: env-${ENV}
      args:
        ENV: ${ENV}
        PHP_VERSION: ${PHP_VERSION}
        XDEBUG_VERSION: ${XDEBUG_VERSION}
        COMPOSER_VERSION: ${COMPOSER_VERSION}
    environment:
      PHP_MEMORY_LIMIT: ${PHP_MEMORY_LIMIT:-512M}
      PHP_MAX_EXECUTION_TIME: ${PHP_MAX_EXECUTION_TIME:-30}
      PHP_UPLOAD_MAX_FILESIZE: ${PHP_UPLOAD_MAX_FILESIZE:-20M}
      PHP_POST_MAX_SIZE: ${PHP_POST_MAX_SIZE:-20M}
    networks:
      - network_app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ${PROJECT_WEB_DIRECTORY}:/var/www/html/
      - ${PROJECT_DATA_DIRECTORY}/profiling/:/tmp/profiling/
