services:
  nginx-proxy:
    image: nginx-proxy-${ENV}-${NGINX_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-nginx-proxy-${NGINX_VERSION}
    restart: unless-stopped
    build:
      context: ./docker-context
      dockerfile: ./docker/nginx-proxy/Dockerfile
      target: env-${ENV}
      args:
        NGINX_VERSION: ${NGINX_VERSION}
        ENV: ${ENV}
    command: /usr/local/bin/init.sh '${DOMAIN}' '${WHITELISTED_IP}'
#    volumes:
#      - ./_cache/nginx/ssl/certs/:/etc/nginx/ssl/certs/
#      - ./_cache/nginx/ssl/private/:/etc/nginx/ssl/private/
    ports:
      - ${LOCALHOST_PORT}:80
      - ${LOCALHOST_PORT_SSL}:443
    depends_on:
      - nginx
      - pma
      - mailpit
      - grafana
    networks:
      - network_app

  mariadb:
    image: mariadb-${ENV}-${MARIADB_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-mariadb-${MARIADB_VERSION}
    restart: unless-stopped
    build:
      context: ./docker-context
      dockerfile: ./docker/mariadb/Dockerfile
      target: env-${ENV}
      args:
        MARIADB_VERSION: ${MARIADB_VERSION}
    environment:
      MYSQL_ROOT_HOST: ${DATABASE_HOST:-%}
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQLD_EXPORTER_PASSWORD: ${MYSQLD_EXPORTER_PASSWORD}
    volumes:
      - ./_cache/mariadb/${ENV}:/var/lib/mysql
    networks:
      - network_app
    healthcheck:
      test: "mariadb-admin ping -h 127.0.0.1 -u${DATABASE_USER} -p${DATABASE_PASSWORD} --silent"
      retries: 3
      interval: 5s

  php-fpm-base:
    image: php-fpm-base-${ENV}-${PHP_VERSION}-${XDEBUG_VERSION}-${COMPOSER_VERSION}
    container_name: php-fpm-base-${ENV}-${PHP_VERSION}-${XDEBUG_VERSION}-${COMPOSER_VERSION}
    restart: unless-stopped
    build:
      context: ./docker-context
      dockerfile: ./docker/php-fpm/${PHP_VERSION}/Dockerfile
      target: env-${ENV}
      args:
        PHP_VERSION: ${PHP_VERSION}
        XDEBUG_VERSION: ${XDEBUG_VERSION}
        COMPOSER_VERSION: ${COMPOSER_VERSION}
    profiles:
      - build_only
    networks:
      - network_app

  php-fpm:
    image: ${PROJECT_NAME}-php-fpm-${ENV}
    container_name: ${PROJECT_NAME}-${ENV}-php-fpm
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./Dockerfile
      target: env-${ENV}
      args:
        ENV: ${ENV}
        PHP_VERSION: ${PHP_VERSION}
        XDEBUG_VERSION: ${XDEBUG_VERSION}
        COMPOSER_VERSION: ${COMPOSER_VERSION}
    depends_on:
      - php-fpm-base
      - mariadb
    networks:
      - network_app
    volumes:
      - ./app/:/var/www/html/
#      - ./phpstan/:/phpstan/
#    healthcheck:
#      test: ['CMD', 'curl', '-f', 'localhost:80']
#      interval: 10s
#      start_period: 15s
#      timeout: 10s
#      retries: 5

  nginx:
    image: nginx-${ENV}-${NGINX_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-nginx-${NGINX_VERSION}
    restart: unless-stopped
    build:
      context: ./docker-context
      dockerfile: ./docker/nginx/Dockerfile
      target: env-${ENV}
      args:
        NGINX_VERSION: ${NGINX_VERSION}
    command: /usr/local/bin/init.sh '${DOMAIN}'
    depends_on:
      - php-fpm
    networks:
      - network_app
    volumes:
      - ./app/:/var/www/html/

##  certbot:
##    container_name: ${PROJECT_NAME}-${ENV}-certbot
##    restart: unless-stopped
##    build:
##      context: .
##      dockerfile: ./docker/certbot/Dockerfile
##      target: env-${ENV?}
##      args:
##        DOMAIN: ${DOMAIN?}
##    env_file:
##      - ${ENV_FILE?}
##    depends_on:
##      - nginx-proxy
##    networks:
##      - network_app
##    volumes:
##      - ./_cache/certbot/letsencrypt:/etc/letsencrypt
##      - ./_cache/certbot/www:/tmp/letsencrypt

  pma:
    image: ${PROJECT_NAME}-pma-${ENV}-${PMA_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-pma-${PMA_VERSION}
    restart: unless-stopped
    build:
      context: ./docker-context
      dockerfile: ./docker/pma/Dockerfile
      target: env-${ENV}
      args:
        PMA_VERSION: ${PMA_VERSION}
        DATABASE_USER: ${DATABASE_USER}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    environment:
      PHPMYADMIN_ABSOLUTE_URI: http://pma.${DOMAIN}
      DATABASE_HOST: mariadb
    depends_on:
      - mariadb
    networks:
      - network_app

  mailpit:
    image: mailpit-${ENV}-${MAILPIT_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-mailpit-${MAILPIT_VERSION}
    restart: unless-stopped
    build:
      context: ./docker-context
      dockerfile: ./docker/mailpit/Dockerfile
      target: env-${ENV}
      args:
        MAILPIT_VERSION: ${MAILPIT_VERSION}
    environment:
      TZ: Europe/Vilnius
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    networks:
      - network_app
    volumes:
      - ./_cache/mailpit:/data

  grafana:
    image: grafana-${ENV}-${GRAFANA_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-grafana-${GRAFANA_VERSION}
    restart: unless-stopped
    build:
      context: ./docker-context
      dockerfile: ./docker/grafana/Dockerfile
      target: env-${ENV}
      args:
        GRAFANA_VERSION: ${GRAFANA_VERSION}
    user: '0'
    depends_on:
      - prometheus
      - loki
    networks:
      - network_app
    volumes:
      - ./_cache/grafana:/var/lib/grafana

  prometheus:
    image: prometheus-${ENV}-${PROMETHEUS_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-prometheus-${PROMETHEUS_VERSION}
    restart: unless-stopped
    build:
      context: ./docker-context
      dockerfile: ./docker/prometheus/Dockerfile
      target: env-${ENV}
      args:
        PROMETHEUS_VERSION: ${PROMETHEUS_VERSION}
    user: '0'
    depends_on:
      - mysqld-exporter
      - cadvisor
      - nginx-exporter
      - php-fpm-exporter
      - page-speed-exporter
    networks:
      - network_app
    volumes:
      - ./_cache/prometheus:/prometheus

  mysqld-exporter:
    image: mysqld-exporter-${ENV}-${MYSQLD_EXPORTER_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-mysqld-exporter-${MYSQLD_EXPORTER_VERSION}
    restart: unless-stopped
    build:
      context: ./docker-context
      dockerfile: ./docker/mysqld-exporter/Dockerfile
      target: env-${ENV}
      args:
        MYSQLD_EXPORTER_VERSION: ${MYSQLD_EXPORTER_VERSION}
    environment:
      MYSQLD_EXPORTER_PASSWORD: ${MYSQLD_EXPORTER_PASSWORD}
    depends_on:
      - mariadb
    networks:
      - network_app

  nginx-exporter:
    image: nginx-exporter-${ENV}-${NGINX_EXPORTER_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-nginx-exporter-${NGINX_EXPORTER_VERSION}
    restart: unless-stopped
    build:
      context: ./docker-context
      dockerfile: ./docker/nginx-exporter/Dockerfile
      target: env-${ENV}
      args:
        NGINX_EXPORTER_VERSION: ${NGINX_EXPORTER_VERSION}
    depends_on:
      - nginx
    networks:
      - network_app

  php-fpm-exporter:
    image: php-fpm-exporter-${ENV}-${PHP_FPM_EXPORTER_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-php-fpm-exporter-${PHP_FPM_EXPORTER_VERSION}
    restart: unless-stopped
    build:
      context: ./docker-context
      dockerfile: ./docker/php-fpm-exporter/Dockerfile
      target: env-${ENV}
      args:
        PHP_FPM_EXPORTER_VERSION: ${PHP_FPM_EXPORTER_VERSION}
    depends_on:
      - php-fpm
    networks:
      - network_app

  page-speed-exporter:
    image: page-speed-exporter-${ENV}-${PAGE_SPEED_EXPORTER_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-page-speed-exporter-${PAGE_SPEED_EXPORTER_VERSION}
    restart: unless-stopped
    build:
      context: ./docker-context
      dockerfile: ./docker/pagespeed-exporter/Dockerfile
      target: env-${ENV}
      args:
        PAGE_SPEED_EXPORTER_VERSION: ${PAGE_SPEED_EXPORTER_VERSION}
    environment:
      PAGESPEED_API_KEY: ${PAGE_SPEED_EXPORTER_API_KEY}
    depends_on:
      - php-fpm
    networks:
      - network_app

  cadvisor:
    image: cadvisor-${ENV}-${CADVISOR_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-cadvisor-${CADVISOR_VERSION}
    restart: unless-stopped
    deploy:
      mode: replicated
      replicas: 1
    build:
      context: ./docker-context
      dockerfile: ./docker/cadvisor/Dockerfile
      target: env-${ENV}
      args:
        CADVISOR_VERSION: ${CADVISOR_VERSION}
    networks:
      - network_app
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro

  loki:
    image: loki-${ENV}-${LOKI_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-loki-${LOKI_VERSION}
    restart: unless-stopped
    build:
      context: ./docker-context
      dockerfile: ./docker/loki/Dockerfile
      target: env-${ENV}
      args:
        LOKI_VERSION: ${LOKI_VERSION}
    networks:
      - network_app

  promtail:
    image: promtail-${ENV}-${PROMTAIL_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-promtail-${PROMTAIL_VERSION}
    restart: unless-stopped
    build:
      context: ./docker-context
      dockerfile: ./docker/promtail/Dockerfile
      target: env-${ENV}
      args:
        PROMTAIL_VERSION: ${PROMTAIL_VERSION}
    depends_on:
      - loki
    networks:
      - network_app
    volumes:
      - ./app/logs:/var/system_log:ro

networks:
  network_app:
    driver: bridge
    name: ${PROJECT_NAME}-${ENV}-network
