version: "3.8"
services:
  nginx:
    container_name: ${PROJECT_NAME}-${ENV}-nginx
    restart: always
    build:
      context: ./_docker/nginx
      dockerfile: Dockerfile
    env_file:
      - .env
      #      - .env.prod
      #      - .env.stage
      - .env.local
    ports:
      - ${LOCALHOST_PORT}:80
    volumes:
      - ./app:/var/www/html
      - ./nginx/log:/var/log/nginx

  database:
    container_name: ${PROJECT_NAME}-${ENV}-mysql
#    image: mariadb:11.3.2
    restart: always
    build:
      context: ./_docker/mariadb
      dockerfile: Dockerfile
    env_file:
      - .env
#      - .env.prod
#      - .env.stage
      - .env.local
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
    healthcheck:
      test: "mariadb-admin ping -h 127.0.0.1 -u${DATABASE_USER} -p${DATABASE_PASSWORD} --silent"
      interval: 10s
    volumes:
      - ./mysql/${PROJECT_NAME}-${ENV}:/var/lib/mysql
    ports:
      - ${LOCALHOST_PORT}1:3306

  pma:
    container_name: ${PROJECT_NAME}-${ENV}-pma
    build:
      context: ./_docker/pma
      dockerfile: Dockerfile
    ports:
      - ${LOCALHOST_PORT}2:80
    restart: always
    env_file:
      - .env
#      - .env.prod
#      - .env.stage
      - .env.local
    depends_on:
      - database
    environment:
      PMA_HOST: database
      PMA_ABSOLUTE_URI: pim.${DOMAIN}
      PMA_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      PMA_USER: root

  mailpit:
    container_name: ${PROJECT_NAME}-${ENV}-mailpit
    image: axllent/mailpit
    ports:
      - ${LOCALHOST_PORT}3:8025
      - ${LOCALHOST_PORT}4:1025
    env_file:
      - .env
#      - .env.prod
#      - .env.stage
      - .env.local
    environment:
      TZ: Europe/Vilnius
      MP_MAX_MESSAGES: 5000
      MP_UI_AUTH_FILE: /data/authfile
      MP_DATA_FILE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    volumes:
      - ./_docker/mailpit:/data

  php:
    container_name: ${PROJECT_NAME}-${ENV}-php
    build:
      context: ./_docker/php
      dockerfile: Dockerfile
    volumes:
      - ./app:/var/www/html
      - ./php/log:/var/log/fpm-php.www.log


#  app:
#    container_name: ${PROJECT_NAME}-${ENV}-app
#    deploy:
#      resources:
#        limits:
#          memory: 4096M
#    build:
#      context: .
#      dockerfile: Dockerfile
#      args:
#        PS_INSTANCE: ${PS_VERSION_TAG}
#        MODULE_NAME: ${PROJECT_NAME}
#    env_file:
#      - .env
#      - .env.prod
#      - .env.stage
#      - .env.local
#    environment:
#      PS_INSTALL_AUTO: 1
#      DB_PASSWD: prestashop
#      DB_NAME: prestashop
#      DB_SERVER: mysql
#      PS_DOMAIN: ${PS_DOMAIN}
#      PS_FOLDER_INSTALL: install
#      PS_FOLDER_ADMIN: admin1
#      PS_ENABLE_SSL: 0
#      XDEBUG_CONFIG: remote_host=host.docker.internal
#    depends_on:
#      - database
#    ports:
#      - ${LOCALHOST_PORT}5:80
#    volumes:
#      - ./app:/var/www/html
#      - ./nginx/log:/var/log/nginx
#    healthcheck:
#      test: ['CMD', 'curl', '-f', 'localhost:80']
#      interval: 10s
#      start_period: 15s
#      timeout: 10s
#      retries: 5
