version: "3.8"

services:
  apache-proxy:
    container_name: ${PROJECT_NAME}-${ENV}-apache-proxy
    ports:
      - 80:80



  mysql:
    container_name: ${PROJECT_NAME}-${ENV}-mysql
    image: mariadb:11.3.2
    ports:
      - ${DATABASE_PORT}:3306
    env_file:
      - .env
#      - .env.prod
#      - .env.stage
      - .env.local
    environment:
      MYSQL_ROOT_PASSWORD: prestashop
      MYSQL_DATABASE: prestashop
    healthcheck:
      test: "mysqladmin ping -h 127.0.0.1 -u root -p prestashop --silent"
      interval: 10s
    volumes:
      - ./mysql/${PROJECT_NAME}-mysql-backup-${PS_VERSION_TAB}:/var/lib/mysql

  pma:
    container_name: ${PROJECT_NAME}-${ENV}-pma
    image: phpmyadmin:latest
    ports:
      - 8080:80
    restart: always
    environment:
      PMA_HOST: 127.0.0.1
      PMA_USER: prestashop
      PMA_PASSWORD: prestashop

  mailpit:
    container_name: ${PROJECT_NAME}-${ENV}-mailpit
    image: axllent/mailpit
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_UI_AUTH_FILE: /data/authfile
      TZ: Europe/Vilnius
      MP_MAX_MESSAGES: 5000
      MP_DATA_FILE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    volumes:
      - ./mailpit:/data

  ps-prestashop:
    container_name: ${PROJECT_NAME}-${ENV}-ps-prestashop-${PS_VERSION_TAG}
    platform: ${DOCKER_PLATFORM}
    deploy:
      resources:
        limits:
          memory: 4096M
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PS_INSTANCE: ${PS_VERSION_TAG}
        MODULE_NAME: ${PROJECT_NAME}
    env_file:
      - .env
      #      - .env.prod
      #      - .env.stage
      - .env.local
#      - path: .env
#        required: true
#      - path: .env.prod
#        required: false
#      - path: .env.stage
#        required: false
#      - path: .env.local
#        required: false
    environment:
      PS_INSTALL_AUTO: 1
      DB_PASSWD: prestashop
      DB_NAME: prestashop
      DB_SERVER: mysql
      PS_DOMAIN: ${PS_DOMAIN}
      PS_FOLDER_INSTALL: install
      PS_FOLDER_ADMIN: admin1
      PS_ENABLE_SSL: 0
      XDEBUG_CONFIG: remote_host=host.docker.internal
    depends_on:
      - mysql
    ports:
      - ${LOCALHOST_PORT}:80
    volumes:
      - ./app:/var/www/html
    healthcheck:
      test: ['CMD', 'curl', '-f', 'localhost:80']
      interval: 10s
      start_period: 15s
      timeout: 10s
      retries: 5

