include:
#  - ${ROOT_DIRECTORY}/docker/mysql/docker-compose.yml
  - ${ROOT_DIRECTORY}/docker/mariadb/docker-compose.yml
  - ${ROOT_DIRECTORY}/docker/nginx-proxy/docker-compose.yml
  - ${ROOT_DIRECTORY}/docker/php-fpm/docker-compose.yml
  - ${ROOT_DIRECTORY}/docker/nginx/docker-compose.yml
  - ${ROOT_DIRECTORY}/docker/pma/docker-compose.yml
  - ${ROOT_DIRECTORY}/docker/mailpit/docker-compose.yml
  - ${ROOT_DIRECTORY}/docker/prometheus/docker-compose.yml
  - ${ROOT_DIRECTORY}/docker/grafana/docker-compose.yml
  - ${ROOT_DIRECTORY}/docker/mysqld-exporter/docker-compose.yml
  - ${ROOT_DIRECTORY}/docker/php-fpm-exporter/docker-compose.yml
#  - ${ROOT_DIRECTORY}/docker/pagespeed-exporter/docker-compose.yml
  - ${ROOT_DIRECTORY}/docker/cadvisor/docker-compose.yml
  - ${ROOT_DIRECTORY}/docker/loki/docker-compose.yml
  - ${ROOT_DIRECTORY}/docker/promtail/docker-compose.yml

networks:
  network_app:
    driver: bridge
    name: ${PROJECT_NAME}-${ENV}-network




