services:
  prometheus:
    image: prometheus-${ENV}-${PROMETHEUS_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-prometheus-${PROMETHEUS_VERSION}
    restart: unless-stopped
    build:
      context: ${ROOT_DIRECTORY}
      dockerfile: ${ROOT_DIRECTORY}/docker/prometheus/Dockerfile
      target: env-${ENV}
      args:
        PROMETHEUS_VERSION: ${PROMETHEUS_VERSION}
    user: '0'
    depends_on:
#      - mysqld-exporter
      - cadvisor
      #      - nginx-exporter
      - php-fpm-exporter
#      - page-speed-exporter
    networks:
      - network_app
    volumes:
      - ${PROJECT_DIRECTORY}/_cache/prometheus:/prometheus
