services:
  webserver:
    image: webserver-nginx-${ENV}-${NGINX_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-webserver-nginx-${NGINX_VERSION}
    restart: unless-stopped
    build:
      context: ${ROOT_DIRECTORY}
      dockerfile: ./docker/nginx/Dockerfile
      target: env-${ENV}
      args:
        PROFILE: ${PROFILE}
        NGINX_VERSION: ${NGINX_VERSION}
    command: /usr/local/bin/init.sh '${DOMAIN}' '${DOCUMENT_ROOT}' '${WEBSERVICE_TIMEOUT}'
    depends_on:
      - php-fpm
    networks:
      - network_app
    volumes:
      - ${PROJECT_DIRECTORY}/app/:/var/www/html/
