server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: app
    static_configs:
      - targets:
          - localhost
        labels:
          job: prod.log
          __path__: /app/var/logs/prod.log
      - targets:
          - localhost
        labels:
          job: dev.log
          __path__: /app/var/logs/dev.log
      - targets:
          - localhost
        labels:
          job: pr_logs
          __path__: /app/var/logs/pr_logs/*log
