services:
  promtail:
    image: promtail-${ENV}-${PROMTAIL_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-promtail-${PROMTAIL_VERSION}
    restart: unless-stopped
    build:
      context: ${ROOT_DIRECTORY}
      dockerfile: ${ROOT_DIRECTORY}/docker/promtail/Dockerfile
      target: env-${ENV}
      args:
        PROMTAIL_VERSION: ${PROMTAIL_VERSION}
    depends_on:
      - loki
    networks:
      - network_app
    volumes:
      - ${PROJECT_DIRECTORY}/app:/app:ro
