DOMAIN=__PROJECT_DOMAIN__
LOCALHOST_PORT=0
LOCALHOST_PORT_SSL=0
DATABASE_USER=example
DATABASE_NAME=example
DATABASE_PASSWORD='replace-with-local-password'
HOST_PROXY=nginx
SMOKE_URL=http://__PROJECT_DOMAIN__/
SMOKE_EXPECT=__PROJECT_NAME__
