services:
  php-psalm:
    image: php-psalm-${PHP_PSALM_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-php-fpm-psalm-${PHP_PSALM_VERSION}
    restart: no
    entrypoint: ["tail", "-f", "/dev/null"]
    mem_limit: 4g
    build:
      context: ${ROOT_DIRECTORY}
      dockerfile: ${ROOT_DIRECTORY}/docker/php-psalm/Dockerfile
      target: env-${ENV}
      args:
        PHP_PSALM_VERSION: ${PHP_PSALM_VERSION}
    depends_on:
      - php-fpm
    networks:
      - network_app
    volumes:
      - ${PROJECT_APP_DIRECTORY}:/var/www/html/:ro
      - ${PROJECT_CONFIG_DIRECTORY}/psalm/:/tmp/psalm/config/
      - ${PROJECT_DATA_DIRECTORY}/psalm/:/tmp/psalm/cache/
