services:
  database:
    image: mysql-${ENV}-${MYSQL_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-mysql-${MYSQL_VERSION}
    restart: unless-stopped
    user: "1000:1000"
    build:
      context: ${ROOT_DIRECTORY}
      dockerfile: ${ROOT_DIRECTORY}/docker/mysql/Dockerfile
      target: env-${ENV}
      args:
        ENV: ${ENV}
        PROFILE: ${PROFILE}
        MYSQL_VERSION: ${MYSQL_VERSION}
        ROOT_DIRECTORY: ${ROOT_DIRECTORY}
        PROJECT_DIRECTORY: ${PROJECT_DIRECTORY}
    environment:
      MYSQL_HOST: ${DATABASE_HOST:-%}
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQLD_EXPORTER_PASSWORD: ${MYSQLD_EXPORTER_PASSWORD}
    volumes:
      - ${PROJECT_DATA_DIRECTORY}/mysql/:/var/lib/mysql
    networks:
      - network_app
