services:
  cadvisor:
    image: cadvisor-${ENV}-${CADVISOR_VERSION}
    container_name: ${PROJECT_NAME}-${ENV}-cadvisor-${CADVISOR_VERSION}
    restart: unless-stopped
    deploy:
      mode: replicated
      replicas: 1
    build:
      context: ${ROOT_DIRECTORY}
      dockerfile: ./docker/cadvisor/Dockerfile
      target: env-${ENV}
      args:
        CADVISOR_VERSION: ${CADVISOR_VERSION}
    networks:
      - network_app
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
